<nav class="navbar fixed-top navbar-dark bg-dark" style="margin-right: 100px;margin-left: 50px;" >
    <!-- style="margin-right: 200px;margin-left: 200px; margin-top: 0px;height: 50px;" -->
    <a class="nav-item">
        <a class="nav-link font-weight-bold" routerLink="/urls">Url</a>
    </a>
    <a class="nav-item dropdown">
    <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Cards
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" routerLink="/cardcreation">Create Card</a>
      <a class="dropdown-item" routerLink="/cards">View Card</a>
      <div class="dropdown-divider"></div>
    </div>
</a>
  <a class="nav-item dropdown">
    <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Catalog
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" routerLink="/catalogcreation">Create Catalog</a>
      <a class="dropdown-item" routerLink="/catalogs">View Catalogs</a>
      <div class="dropdown-divider"></div>
    </div>
</a>
</nav> 
<h1 class="text-primary font-weight-bold" style="margin-right: 250px;margin-left: 700px; margin-top: 200px;"> Welcome to Digital Workspace</h1> 
<h2 style="margin-right: 200px;margin-left: 650px; margin-top: 100px;">One place to find everything on a single click</h2>
