<nav class="navbar fixed-top navbar-dark bg-dark" style="margin-right: 100px;margin-left: 50px;">
   
  <a class="nav-item">
      <a class="nav-link font-weight-bold" routerLink="/home">Home</a>
  </a>
</nav>
<div class="dscontainer" *ngIf='!card' >
    <h1 style="margin-left: 275px;">Enter card details</h1>
  <form>
    <div class="form-group">
      <label for="exampleFormControlFile1">Image</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1" (change)="changeListener($event)">
     
    </div>
  <div class="input-group">
  <!-- *ngIf='urls'> -->
      <select class='form-control' name="urlSelector" [(ngModel)]="selectedUrl">Short urls
          <option value=-1>--Select urls</option>
          <option *ngFor="let u of urls">{{u.shortUrl}}</option>
      </select>
      <input type="text" class="form-control" name="titlebox" placeholder="Title" [(ngModel)]="title"/>
      <div class="form-group">
        <textarea class="form-control" id="exampleFormControlTextarea1"  name="description" rows="3" [(ngModel)]="description" ></textarea>
      </div>
  </div>
  <button class='btn btn-primary btn-lg'  id="btnApply" (click)="save()" style="margin-left: 475px;">Save</button>
 
</form>
</div>
<h1 class="input-group" style="margin-left: 50px; margin-top: 200px;"
*ngIf='card'><app-card [card]="card"></app-card> </h1>
